.task{
    margin: 5px;
    background-color: gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    height: 40px;
}

.task h3{
    width: 50%;
}

.task p{
    width: 30%;
}

